div.mainWrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	& > div.contentWrapper {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;

		& > .page {flex-grow: 1;}
	}
	& > footer.mainFooter {
		flex: 0 0 auto;
	}
}