.inputTypeFile-Wrapper {
	position: relative;
	width: 170px;
	input {
		width: 100%;
		height: $formElementsHeight;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		cursor: pointer;
	}

	label {
		position: relative;
		background-color: transparent;
		color: $secondaryColor;
		// padding: 5px 11px;
		cursor: pointer;
		margin: 0;
		line-height: $formElementsHeight;
		white-space: nowrap;
		font-size: $normal;
		text-decoration: underline;

		img {
			vertical-align: middle;
			width: 20px;
			height: 18px;
			margin-right: 10px;
		}

		&:hover {text-decoration: none;}
		&:focus {outline: none;}
	}
}